/* APP STYLES */

body {
  font-family: "Optima", sans-serif;
  font-size: 15px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Cochin", serif;
  text-transform: uppercase;
}

p {
  max-width: 768px;
}

body > nav > div.collapse.navbar-collapse.navbar-top > ul > li > a:hover {
  background-color: #E2E2E2;
  color: #000;
}

body > nav > div.navbar-collapse.navbar-top.collapse > ul > li.active > a {
  color: #FFF;
  background-color: #002CFF;
}

.btn {
  border-radius: 0;
  border-color: black;
}

.btn:hover {
  border-radius: 0;
  border-color: black;
}