/* WEBSITE STYLES */

body {
  font-family: "SFNS Display", sans-serif;
  font-size: 15px;
}

h1 {
  text-transform: uppercase;
  font-weight: 900;
}

#main > div > div > div > p > div > p > p {
  word-wrap: break-word;
}

body > nav > div.collapse.navbar-collapse.navbar-top > ul > li > a:hover {
  background-color: #CCCCCC;
  color: #000;
}

body > nav > div.navbar-collapse.navbar-top.collapse > ul > li.active > a {
  color: #DD5D06;
  background-color: #CCCCCC;
}

#submitpost {
  margin-top: 20px;
}

.btn {
  border-radius: 0;
  border-color: black;
}

.btn:hover {
  border-radius: 0;
  border-color: black;
}

.blog-item {
  border-style: solid;
  border-color: #CCCCCC;
  border-radius: 0px;
  border-width: 1px;
  margin-bottom: 20px;
  max-width: 768px;
  padding-left: 10px;
  padding-right: 10px;
}

.blog-title {
  color: #DD5D06;
}

.blog-date {
  font-size: 0.75em;
  color: #808080;
}