/* APP STYLES */

body {
  font-family: "Optima", sans-serif;
  font-size: 15px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Cochin", serif;
}

h1 {
  text-transform: uppercase;
}

p {
  max-width: 768px;
}

body > nav > div.collapse.navbar-collapse.navbar-top > ul > li > a:hover {
  background-color: #CCCCCC;
  color: #000;
}

body > nav > div.navbar-collapse.navbar-top.collapse > ul > li.active > a {
  color: #CC3300;
  background-color: #E6E6E6;
}

#submitpost {
  margin-top: 20px;
}

.btn {
  border-radius: 0;
  border-color: black;
}

.btn:hover {
  border-radius: 0;
  border-color: black;
}

.blog-item {
  border-style: solid;
  border-color: #CCCCCC;
  border-radius: 0px;
  border-width: 1px;
  margin-bottom: 20px;
}

.blog-title {
  color: #CC3300;
}