<template name="newblogpost">
  <form class="main form page">
    <div class="container form-group">
      {{#if isAdmin}}
        <h1>Write New Blog Post</h1>

        <label for="title" class="control-label">Title</label>
        <input id="title" name="title" class="form-control" type="text">

        <label for="content" class="control-label">Content</label>
        <textarea id="content" name="content" class="form-control" rows="12" cols="5"></textarea>

        <input id="submitpost" type="submit" value="Submit Post" class="btn btn-success"/>
      {{else}}
        <p>Hey, you're not Wes!</p>
      {{/if}}
    </div>
  </form>
</template>