<template name="resume">
  <div class="container">
    <h1>Résumé</h1>

    <div class="resume">
      <div class="resume-header">
        <h2>Wesley Breisch</h2>
        <a href="mailto:breisch@live.com">breisch@live.com</a>
      </div>
      <div class="row">
        
      </div>
    </div>

    <p class="small">
      This résumé is a "minified" version of my résumé with much of my personal information removed.
    </p>
    <p class="small">
      Please <a href="{{pathFor 'contactme'}}">contact me</a> for my complete résumé.
    </p>
  </div>
</template>